:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  opacity: .9;
  text-decoration: inherit;
}
a:hover {
  opacity: .95;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.2em;
  color: white;
  opacity: .9;
  line-height: 1.2;
}

.container {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
  place-items: center;
  display: flex;
  position: relative;
}

#charts {
  width: 400px;
  padding-left: 100px;
}

aside {
  display: flex;
  max-width: 150px;
  flex-direction: column;
  position: sticky;
  place-self: flex-start;
  top: 0;
  gap: 1rem;
}

aside p {
  color: white;
  opacity: .8;
  margin: 0;
  font-size: 8pt;
  line-height: initial;
}

select {
  display: block;
  width: 100%;
  font-size: 12pt;
}

.chart {
  padding: 1rem 0;
}

button {
  display: block;
  width: 100%;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12pt;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #343434;
  color: #424242;
}

button:hover {
  border-color: #646cff;
}

button:disabled:hover {
  border-color: #424242;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  overflow: visible;
}

svg .chart-title {
  fill: white;
  opacity: .7;
}
svg:hover .chart-title {
  opacity: .9;
}

svg text {
  fill: white;
  color: white;
  font-size: 8pt;
  opacity: .5;
}
svg .tick-mark {
  stroke: white;
  opacity: .5;
}

svg:hover .chart-label {
  opacity: .7;
}

svg .chart-line {
  stroke: white;
  fill: none;
  opacity: .7;
}

svg:hover .chart-line {
  opacity: .9;
}
